{{template "header" .}}
<h1>{{.Data.Title}}</h1>
{{template "nav" .}}
<div class="jumbotron">
  <h1>Don't you know when to go for a run?</h1>
  <p>when2run gives you hours and days to keep your training on track</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Start running!</a></p>
</div>

{{template "footer"}}
