{{define "nav"}}
<ul class="nav nav-pills">
  <li role="presentation" {{if eq .Data.TabActive "index"}} class="active" {{end}}><a href="/">Home</a></li>
  <li role="presentation" {{if eq .Data.TabActive "settings"}} class="active" {{end}}><a href="/settings">Settings</a></li>
  {{if .UserLogged}}
    <li role="presentation" style="float:right" ><a href="/logout">Logout</a></li>
  {{else}}
    <li role="presentation" style="float:right" ><a href="/login">Login</a></li>
  {{end}}
</ul>
{{end}}
